
.collapsible-button {
    border-radius: 8px ;
    border: 1px solid #aaa8a8;
    padding: 0.6em 1.2em;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: #e2dddd;
    cursor: pointer;
    color: black;
    margin-bottom: 10px;
    position: static;
    z-index: auto;
}

.collapsible-button:hover {
    border-color:  #969595;
    background-color: #817b7b8f;
  }