._display_none{
    display: none;
}

.buttons-container {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
}

.radio-group {
    width: 100%;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    background-color: white;
    color: #423b3b;
}

.custom-radio {
    width: 100px;
    height: 50px;
}

.custom-radio2 {
    width: 160px;
    height: 75px;
}

.banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
  
.linea1 {
    flex-grow: 1;
    height: 1px;
    background-color: #000;   
    margin: 0 5px;
}

.linea2 {
    flex-grow: 1;
    height: 1px;
    background-color: #000;   
    margin: 0 5px;
}
.text {
    margin: 0 10px;
}

.alltogether1{
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    padding-top: 30px;
}

.alltogether{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -70px;
}

.alltogetherGeneral{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
}

.programas{
    height: fit-content;
    display: flex;
    width: 25%;
    flex-direction: column;
    margin-left: 80px;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 8px ;
    cursor: pointer;
}

.title{
    align-self: center;
}

.container-general{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.result-container{
    padding-top: 2rem;
}

.total{
    text-align: center; 
    padding-left: 1rem;
    width: 100%;
    font-weight: 300;
    font-size: 20px;
    color: #423b3b;
}

.semaforo-container {
    width: auto;
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 3rem;
}

.row-container{
    width: auto;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.custom-button {
    width: 100%;
    height: 100px;
    border-radius: 8px ;
    cursor: pointer;
    color: black;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
}
  
.contenedorButtonGroup{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
}

.table-buttons{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center; 
    margin: 0;
    gap: 50px;
    width: 100%;
}

.programas2{
    display: flex;
    height: fit-content;
    width: 30%;
    flex-direction: column;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #808080;
    border-radius: 8px;
}

@media screen and (max-width: 768px) {
    .radio-group {
        padding: 0px; 
        padding-bottom: 1rem;
    }

    .alltogether1{
        padding-right: 0.1rem;
    }

    .custom-radio {
        width: 58px; 
    }

    .total{
        font-size: 18px;
    }

    .semaforo-container {
        display: flex;
        flex-direction: column; 
        margin: 0;
    }
    
    .custom-button{
        width: 100%;
        height: 100%;
    }

    .container-general{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .programas{
        margin-left: 6px;
        width: fit-content;
    }

    .table-buttons{
        width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        margin: 0;
    }

    .custom-radio2 {
        width: 90px;
        height: 35px;
    }

    .contenedorButtonGroup{
        margin-top: 5px;
    }

    .buttonreturn{
        margin-top: 0px;
    }
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  

.buttons-table {
    border-radius: 8px; 
    border: 2px solid #808080;
    width: 100%; 
  }
  
  .buttons-table th,
  .buttons-table td {
    width: 60px;
    padding: 6px; 
    text-align: center; 
  }

  .buttons-table thead {
    border-radius: 8px; 
    background-color: #f0f0f0; 
  }
  
  .buttons-table .section-header {
    border-radius: 8px; 
    background-color: #e0e0e0; 
    font-weight: bold; 
  }

  .hoverable-row:hover {
    background-color: #e0e0e0; 
    cursor: pointer; 
  }
  
  .back-button-bottom {
    font-size: 16px;
    background-color: #f0f0f0;
    color: black;
    border-radius: 5px;
    border: 1px solid #666;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0px -15px;
    margin-left: 15px;
  }
  

.table-container table tr:hover td {
    filter: brightness(0.85); 
}

.new-table tr {
    cursor: pointer;
  }
  