.procesos {
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    width: 100%;
    color: #353131;
    font-size: 16.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* .procesos > div:hover {
    filter: brightness(80%);
} */

.procesosRRC,
.procesosRAC,
.procesosAC,
.procesosCREA,
.procesosMOD {
    padding: 0.5rem;
    border-radius: 8px;
    height: fit-content;
    background-color: rgb(241, 241, 241);
    border: 1px solid #807e7e;
    text-align: center;
    width: 170px; 
    cursor: pointer;
}
.procesosCONV {
    padding: 0.5rem;
    border-radius: 8px;
    height: fit-content;
    background-color: rgb(241, 241, 241);
    border: 1px solid #807e7e;
    text-align: center;
    width: fit-content; 
    cursor: pointer;
}

.title-program{
    font-size: 20px;
}

.about-program{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
    margin-bottom: 10px;
}

.about-program-general{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.button-reverse{
    margin-top: 20px;
    padding: 1rem;
    border-radius: 15px ;
    background-color:rgb(255, 253, 253);
    border: 2px solid #969595;
    text-align: center;
    width: 150px;
    font-size: 18px;
    color: black;
}

.button-reverse:hover{
    background-color:rgba(163, 163, 163, 0.562);
}


@media screen and (max-width: 768px) {

    .procesos {
        justify-content: center; 
    }

    .procesosRRC,
    .procesosRAC,
    .procesosAC,
    .procesosCREA,
    .procesosMOD {
        width: calc(33.33% - 18px);
        font-size: 17px;
    }

    .title-program{
        font-size: 15px;
        text-align: center;
        margin-top: -60px;
    }

    .about-program-general {
        display: flex;
        flex-wrap: wrap; 
        padding-bottom: 15px;
    }
}