.table-container {
  margin-top: 0px;
  padding-bottom: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.row-container th {
  border: 1px solid #e0e0e0;
  width: 150px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.table-container td {
  border: 1px solid #e0e0e0;
  width: 150px;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .row-container th,
  .table-container td {
      padding: 5px;
      font-size: 12px;
      width: auto; 
  }
}
